@layer components {
  .head-section {
    @apply mb-4 md:mb-14 font-light text-4xl text-center;
  }

  .card-container {
    @apply flex flex-wrap justify-center -mx-4;
  }

  .card {
    @apply max-w-md md:w-1/3 p-4 text-center;
  }

  .card__image {
    @apply rounded;
  }

  .card__header {
    @apply m-1 font-medium text-xl;
  }

  .form-element {
    @apply border-2 rounded block w-full border-gray-200 focus:ring-2 p-1;
  }

  .btn-blue {
    @apply bg-blue-600 hover:bg-blue-700 text-blue-50 rounded focus:ring-2 py-1 px-2;
  }
}
