@font-face {
  font-family: Shrikhand;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Shrikhand-Regular.ttf");
}

@font-face {
  font-family: Hind;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/Hind-Light.ttf");
}

@font-face {
  font-family: Hind;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Hind-Regular.ttf");
}

@font-face {
  font-family: Hind;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Hind-Medium.ttf");
}

@font-face {
  font-family: Hind;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/Hind-SemiBold.ttf");
}

@font-face {
  font-family: Hind;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Hind-Bold.ttf");
}
